{% extends '../base.html' %}


{% load static %}
{% block 'content' %}

<div class="container">

    <div class="row breadcrumbs">
        <div class="col s8"><a class="crumb" href="/workshop">новини майстерні</a> > {{ article.name }}</div>
        <img class="col s4" src="{% static 'img/line.png' %}" />
    </div>

    <div class="row">
        <h4 class="col s8">{{ article.name }}</h4>
    </div>

    <div class="row">
        <img class="col s6" src="{{MEDIA_URL}}{{ article.image1.url }}">
        <div class="col s6">
            <div class="right"><i>{{ article.author }}</i> <i>{{ article.date|date:"d.m.Y" }}</i></div>
            <p class="flow-text">
                {{ article.description|safe }}
            </p>
        </div>
    </div>
</div>
{% endblock %}