{% extends '../base.html' %}

{% load static %}
{% block 'content' %}
	<main>
		{% if firstParallax %}
			<div class="parallax-container">
				<div class="parallax"><img src="{{MEDIA_URL}}{{firstParallax.image.url}}"></div>
			</div>
		{% endif %}

		<div class="section">
			<div class="container row">
				<div id="workshop_description">
					<div class="header">
						<span>«ART STUDIO GETMAN»</span>
						<div class="splat">
							<img src="{% static 'img/plyama.png' %}" />
							<span>про майстерню</span>
						</div>
					</div>
					<p>
						Художня дизайн майстерня працює у різних напрямках художньої діяльності і дизайну. Весь час перебуваємо у творчому русі: розпис стін, стель; живопис, картини; графічні малюнки; призи, скульптури з бронзи, гіпсу, сталі, дерева, гіпсова ліпнина, колони,
						портали; займаємось графічним дизайном, ілюструванням; малюємо проекти інтер`єрів, візуалізації; організовуємо та проводимо арт - корпоративи. Автори майстерні: Заріна і Валентин Гетьман
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		{% for article in articles %}
			<div class="section">
				<div class="row container">
					<div id="{{ article.text_id }}" class="content_item">
						<div class="title">
							<span class="title_name"><a class="black-text" href="/article/{{ article.text_id }}">{{ article.name }}</a></span>
							<span class="title_date">{{ article.date|date:"d.m.Y" }}</span>
						</div>
						<p class="value">{{ article.description|safe }}</p>
						<img src="{{MEDIA_URL}}{{ article.image1.url }}" />
						{% if article.image2 %}
							<img src="{{MEDIA_URL}}{{ article.image2.url }}" />
						{% endif %}
						<p class="right author">{{ article.author }}</p>
					</div>
				</div>
				<div class="row right-align">
					<div class="col s12 line">
						<img src="{% static 'img/line.png' %}" />
					</div>
				</div>
			</div>
			{% if parallax %}
				<div class="parallax-container">
					<div class="parallax"><img src="{{MEDIA_URL}}{{article.parallax.image.url}}"></div>
				</div>
			{% endif %}
		{% endfor %}

		{% if lastParallax %}
		<div class="parallax-container">
			<div class="parallax"><img src="{{MEDIA_URL}}{{lastParallax.image.url}}"></div>
		</div>
		{% endif %}
	</main>
{% endblock %}
