{% extends '../base.html' %}


{% load static %}
{% block 'content' %}

<div class="container">

    <div class="row"></div>

    <div class="row">
        <img class="col s6" src="https://www.getmanstudio.com/media/workshop/for-web.jpg">

        <div class="col s6">
            Нова картина "Захоплюючий погляд" готова, та радує свого власника Gert Van de Velde😊, за яким тепер весь час спостерігають жіночі очі😉👁😅 дякуємо за довіру та натхнення!! Художник: Zorina Getman , трохи мазнув 🖌😆 Валентин Гетьман Формат 130х130, полотно, олія (живопис намальований по ескізам замовника) New painting "Breathtaking gaze" is already..thanks Gert Van de Velde for trust, inspiration and 👍foto!! Now Women’s eyes look on by you all the time...😉👁😅
        </div>
    </div>
</div>
{% endblock %}