{% extends '../base.html' %}

{% load static %}
{% block 'content' %}
	<main>
		<div class="parallax-container">
			<div class="parallax"><img src="{% static 'img/workshop/0.png' %}"></div>
		</div>
		<div class="section">
			<div class="container row">
				<div id="workshop_description">
					<div class="header">
						<span>«ART STUDIO GETMAN»</span>
						<div class="splat">
							<img src="{% static 'img/plyama.png' %}" />
							<span>про майстерню</span>
						</div>
					</div>
					<p>
						Художня дизайн майстерня працює у різних напрямках художньої діяльності і дизайну. Весь час перебуваємо у творчому русі: розпис стін, стель; живопис, картини; графічні малюнки; призи, скульптури з бронзи, гіпсу, сталі, дерева, гіпсова ліпнина, колони,
						портали; займаємось графічним дизайном, ілюструванням; малюємо проекти інтер`єрів, візуалізації; організовуємо та проводимо арт - корпоративи. Автори майстерні: Заріна і Валентин Гетьман
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="section">
			<div class="row container">
				<div id="springTrees" class="content_item">
					<div class="title">
						<span class="title_name">Настінний розпис "Spring trees"</span>
						<span class="title_date">18.06.2016</span>
					</div>
					<p class="value">
						Виконали настінний розпис по проекту дизайнера Лари Герман. Інтер`єр виконаний в стилі мінімалізм, сам розпис має декоративні обриси та надає лаконічну нотку світлому та легкому дизайну. Матеріали: акрил. на фото ліворуч 3D візуалізація <a href="http://www.laragermaninterior.com/">http://www.laragermaninterior.com/</a>
					</p>
					<img src="{% static 'img/workshop/springTrees.jpg' %}" />
					<p class="right author">
						Розпис: Гетьман Валентин
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static 'img/workshop/1.png' %}"></div>
		</div>

		<div class="section">
			<div class="row container">
				<div id="wildwest" class="content_item">
					<div class="title">
						<span class="title_name">Розпис вігваму для Zoloche Rangers Camp</span>
						<span class="title_date">25.06.2016</span>
					</div>
					<p class="value">
						Літо - чудова пора, коли завжди вдосталь сонця, спеки, приємної прохолодної водички...та куди ж без літнього табору?! В одному з таких таборів побували і ми з пензлями! То є чудовий наметовий комплекс у стилі Wild West <a href="http://rangers.kiev.ua/">http://rangers.kiev.ua/</a>,
						де ми робили розпис на вігвамі самого вождя!)) Саме там біля вогнища, разом з піснями та цікавими розмовами, проводять свої незабутні літні вечори відпочиваючі табору - #TeenRangers !! Розпис виконаний змішаною технікою (акрил, аерозольні фарби)
					</p>
					<img src="{% static 'img/workshop/wildwest.jpg' %}" />
					<p class="right author">
						Розпис: Гетьман Валентин
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="section">
			<div class="row container">
				<div id="mission_possible" class="content_item">
					<div class="title">
						<span class="title_name">Призи "MISSION <strike>IM</strike>POSSIBLE" для конкурсу PRESSZVANIE</span>
						<span class="title_date">21.05.2016</span>
					</div>
					<p class="value">
						Наша майстерня рада презентувати цьогорічні нагороди для PRESSZVANIE - конкурсу ділової журналістики <a href="http://www.presszvanie.ua/">http://www.presszvanie.ua/</a>. Метою конкурсу є виявлення кращих економічних журналістів України та підвищення
						цінності професії журналіста. Відзнака вилита з бронзи та виконана під стилістику цьогорічної теми "MISSION <strike>IM</strike>POSSIBLE". В свою чергу вітаємо усіх хто приймав участь та переможців конкурсу))
					</p>
					<img src="{% static 'img/workshop/avards_1.jpg' %}" />
					<img src="{% static 'img/workshop/avards_2.jpg' %}" />
					<p class="right author">
						Дизайн і модель: Гетьман Валентин
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static 'img/workshop/2.png' %}"></div>
		</div>

		<div class="section">
			<div class="row">
				<div id="handles" class="container content_item">
					<div class="title">
						<span class="title_name">МЕБЛЕВІ РУЧКИ</span>
						<span class="title_date">10.04.16</span>
					</div>
					<p class="value">
						Втілили в життя проект - бронзові меблеві ручки «GETMAN handLES». Їх вже можна придбати в нашій майстерні. На сьогоднішній день, це два типи авторських ручок: лев "hendle Lion", слон "hendle Elephant". Ручки можна використовувати в комодах, шафах, підвісних
						тумбах, як декор для вхідних і міжкімнатних дверей. Матеріал - вилита бронза, тонована, з відполірованими окремими деталями, кріплення різьбове на двох гвинтиках. Ви можете замовити індивідуальний дизайн, який буде створено під ваш стиль. Розмір:
						"handle Lion" в105 х ш59 х г58мм. "handle Elephant" в77 х ш82 х г45мм.
					</p>
					<img src="{% static 'img/workshop/elephant_hendle.jpg' %}" />
					<img src="{% static 'img/workshop/lion_hendle.jpg' %}" />
					<p class="right author">
						Дизайн і модель: Гетьман Валентин
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="section">
			<div class="row">
				<div id="EcoStyle" class="container content_item">
					<div class="title">
						<span class="title_name">ФУТБОЛКА З ПРИНТОМ «ECO STYLE»</span>
						<span class="title_date">27.03.16</span>
					</div>
					<p class="value">
						Віддрукували першу футболку з серії «ECO STYLE» - «Life is a beautiful trip» для любителів велоподорожей!!!)) Футболка: 100% бавовна (вироблено в Україні), принт - прямий цифровий друк (формат А4). Тож вперед на залізного коня за новими пригодами та враженнями)))
					</p>
					<img src="{% static 'img/workshop/ecostyle.png' %}" />
					<p class="right author">
						Дизайн та ілюстрація: Гетьман Зоріна
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="parallax-container">
			<div class="parallax"><img src="img/workshop/3.png"></div>
		</div>

		<div class="section">
			<div class="row">
				<div id="Equalibra" class="container content_item">
					<div class="title">
						<span class="title_name">ІЛЮСТРАЦІЇ ДО ОНЛАЙН-БІБЛІОТЕКИ "Equalibra"</span>
						<span class="title_date">15.02.2016</span>
					</div>
					<p class="value">
						Гарна новина для любителів хороших книг! В лютому стартував новий книжковий проект - онлайн-бібліотека "Еквалібра" <a href="https://equalibra.org/">https://equalibra.org/</a> , а наша майстерня намалювала яскраві, теплі ілюстрації до сайту. Приємний
						книжковий персонаж проведе вас у світ книги))) Бібліотека дуже зручна у користуванні, адже не потрібно турбуватися про формат файлів - тексти зручно читати як на смартфоні, планшеті так і на комп`ютері. Корисного усім читання та естетичної насолоди!
					</p>
					<img src="{% static 'img/workshop/equilibra.png' %}" />
					<p class="right author">
						Ілюстрації: Зоріна Гетьман
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="section">
			<div class="row">
				<div id="elephantHandles" class="container content_item">
					<div class="title">
						<span class="title_name">МЕБЛЕВА РУЧКА «ELEPHANT»</span>
						<span class="title_date">27.01.16</span>
					</div>
					<p class="value">
						Процес роботи над новою моделю ручки з проекту «GETMAN handLES».
					</p>
					<img src="{% static 'img/workshop/elephant_handles.png' %}" />
					<p class="right author">
						Дизайн і модель: Гетьман Валентин
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static 'img/workshop/4.png' %}"></div>
		</div>

		<div class="section">
			<div class="row">
				<div id="countryLamp" class="container content_item">
					<div class="title">
						<span class="title_name">ЛАМПА «КАНТРІ»</span>
						<span class="title_date">26.01.16</span>
					</div>
					<p class="value">
						Починаємо втілювати проект «GETMAN lighT». Перша лампа, це плафон - миска виліплена з глини, з ефектом криволінійних площин, що підкреслює рукотворність виробу, а натуральне дерево - дошка, яка зависла в повітрі, дає відчуття ілюзії польоту, наче кухоль
						з дощечкою завис у повітрі. Матеріали: дерево, глина, елементи кріплення. Дизайн інтер`єру - Art Studio Getman.
					</p>
					<img src="{% static 'img/workshop/lamp_country.png' %}" />
					<p class="right author">
						Дизайн і модель: Зоріна і Валентин
					</p>
				</div>
			</div>

			<div class="row right-align">
				<div class="col s12 line">
					<img src="{% static 'img/line.png' %}" />
				</div>
			</div>
		</div>

		<div class="section">
			<div class="row">
				<div id="handLES" class="container content_item">
					<div class="title">
						<span class="title_name">МЕБЛЕВА РУЧКА «LION»</span>
						<span class="title_date">24.01.16</span>
					</div>
					<p class="value">
						Розпочали новий проект «GETMAN handLES», розробляємо серію меблевих ручок - образів звірів, які ергономічно адаптовані під руку людини. Оригінальний дизайн меблевої фурнітури надасть меблям неповторності та вишуканості. Модель ручки зліплена з глини,
						планується виробництво з бронзи. Процес роботи представлений на фото.
					</p>
					<img src="{% static 'img/workshop/lion_handles.png' %}" />
					<p class="right author">
						Дизайн і модель: Гетьман Валентин
					</p>
				</div>
			</div>
		</div>
		<div class="parallax-container">
			<div class="parallax"><img src="{% static 'img/workshop/5.png' %}"></div>
		</div>
	</main>

{% endblock %}
