{% extends '../base.html' %}
{% block 'content' %}
	<main>
		<div class="section no-pad-bo" id="index-banner">
			<div class="container">
				<br><br>
				<div class="row center">
					<p><b>Україна, м. Київ</b></p>
					<p><b>+38 (067) 660 40 83<b></p>
					<p><b>+38 (050) 136 64 94</b></p>
					<p><b>+38 (063) 632 99 49</b></p>
					<p>
						</b>email: <a href="mailto:getmanstudio@gmail.com">getmanstudio@gmail.com</a></b>
					</p>
				</div>
				<br><br>
			</div>
		</div>
	</main>
{% endblock %}
