<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Художня майстерня Гетьман!</title>

    {% load static %}
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block 'links' %}
    {% endblock %}
</head>

<body>
    <nav class="white darken-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="black-text brand-logo">Art Studio «Getman»</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="black-text" href="/">галерея</a></li>
                <li><a class="black-text" href="/workshop/">новини майстерні</a></li>
                <li><a class="black-text" href="/contacts/">контакти</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a class="black-text" href="/">галерея</a></li>
                <li><a class="black-text" href="/workshop/">майстерня</a></li>
                <li><a class="black-text" href="/contacts/">контакти</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav"><i class="material-icons icon-black">menu</i></a>
        </div>
    </nav>

    {% block 'content' %}
    {% endblock %}

    <footer class="page-footer white">
        <div class="container">
            <div class="row center">
                <a class="social" href="https://www.facebook.com/getmanstudio">
                    <img src="{% static 'img/facebook_fg.png' %}" alt="facebook" />
                </a>
                <a class="social" href="https://ru.pinterest.com/artstudioGetman/">
                    <img src="{% static 'img/pinterest_fg.png' %}" alt="pinterest" />
                </a>
                <a class="social" href="https://www.behance.net/getmanstudio">
                    <img src="{% static 'img/behands_fg.png' %}" alt="behands" />
                </a>
                <a class="social" href="https://plus.google.com/u/0/108824955873820134877/">
                    <img src="{% static 'img/gplus_fg.png' %}" alt="google plus" />
                </a>
                <a class="social" href="https://instagram.com/getmanstudio/">
                    <img src="{% static 'img/instagram_fg.png' %}" alt="instagram" />
                </a>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container black-text">
                © Художня майстерня "Гетьман" 2008–2020 Копіювання матеріалів дозволяється лише з посиланням на джерело.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92174368-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>

</html>
